INFURA_API_KEY=
DILI_SECRET=
CONTRACT_URL='https://sepolia.lineascan.build/address/0x8c74e26782b2f6b39972e6fe7205946b43cbcb0a'
PHOSPHOR_URL='https://admin-api.phosphor.xyz'
PHOSPHOR_API_KEY=
PHOSPHOR_PUBLIC_URL='https://public-api.phosphor.xyz'
LISTING_ID=